.card-text {
display:-webkit-box;
overflow:hidden;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;

}


.card-title{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
}
